@import "_boxsizing.scss";
@import "_clearfix.scss";
@import "_grid.scss";

$color-text: #555;
//$color-primary: rgba(red,.15);
$color-primary: #f3d4d3;

body {
  font-family: 'Josefin Slab', serif;
  color: $color-text;
}

html, body {
  margin: 0;
  padding: 0;
}

label[for] {
  cursor: pointer;
}

::-moz-selection {
  background-color: $color-primary;
  text-shadow: none;
}
::selection {
  background-color: $color-primary;
  text-shadow: none;
}
img::-moz-selection {
  background: transparent;
}
img::selection {
  background: transparent;
}

a {
  font-weight: 700;
  color: darken($color-primary, 10);
  transition: all ease-in-out .2s;
  &:hover {
    color: $color-primary;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 1024px;
}

.header-title {
  font-weight: 300;
}

.panel-title {
  color:#535353;
  font-size: 42px;
  font-weight: 400;
  text-align: center;
}

.header {
  border-color: $color-primary;
  background-image: url('../images/grid.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top left;
  background-size: cover;
  height: 300px;
}

.header-title {
  margin-top: 0;
  text-align: center;
  font-size: 72px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
}

.panel {
  margin: 80px 0;
}

.gridExemple div[class^="col-"] {
  border: 1px solid $color-primary;
  padding: 4px;
  padding-left: 10px;
}

.responsiveExemple p {
  text-align: justify;
}

.green {
  background: #30FC90;
}
