@import "_boxsizing.scss";
@import "_clearfix.scss";
@import "_grid.scss";

// Exemple
body {
  font-family: 'Josefin Slab', serif;
  color: #555;
}

html, body {
  margin: 0;
  padding: 0;
}

label[for] {
  cursor: pointer;
}
::-moz-selection {
  background-color: rgba(red,.15);
  text-shadow: none;
}
::selection {
  background-color: rgba(red,.15);
  text-shadow: none;
}
img::-moz-selection {
  background: transparent;
}
img::selection {
  background: transparent;
}

.wrapper {
  margin: 0 auto;
  max-width: 1024px;
}

h1 {
  font-weight: 300;
}

h2 {
  color:#535353;
  font-size: 42px;
  font-weight: 400;
  text-align: center;
}

.header {
  border-color: #F3D4D3;
  background-image: url('../images/grid.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top left;
  background-size: cover;
  height: 300px;
}

.header-title {
  margin-top: 0;
  text-align: center;
  font-size: 72px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
}

.panel {
  margin: 80px 0;
}

.gridExemple div[class^="col-"] {
  border: 1px solid #F3D4D3;
  padding: 4px;
  padding-left: 10px;
}

.responsiveExemple p {
  text-align: justify;
}

.green {
  background: #30FC90;
}
